*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   overflow-x: hidden;
}

html {
   width: 100vw;
}

header.content {
   padding: 0px 15px 0px 15px;
   display: flex;
   flex: row;
   justify-content: space-between;
   align-items: center;
}

section.logo-content {
   display: flex;
   flex-direction: row;
   align-items: center;
}

img.jc-logo {
   width: 70px;
   height: 70px;
}

h1.header-text {
   color: #460000;
}

section.anchor-content {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

section.anchor-logout--layout {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 140px;
   height: 40px;
   background-color: #b23830;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

section.anchor-logout--layout:hover {
   background-color: #460000;
}

a.anchor-logout {
   text-decoration: none;
   color: #ffffff;
}

main.content {
   padding: 0px 10px 0px 10px;
   width: 100vw;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
}

section.account-content {
   padding: 10px;
   width: 20vw;
   display: flex;
   flex-direction: column;
   background-color: #FBFBFB;
   border: 1px solid #ddd;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

h1 {
   color: #460000;
}

label {
   font-weight: bold;
   margin-bottom: 5px;
   color: #460000;
}

input {
   padding: 5px;
   width: 100%;
   font-size: 1em;
   border: 1px solid #ddd;
   border-radius: 5px;
   outline: none;
   transition: border-color 0.3s ease;
}

input:focus {
   border-color: #5F1D1D;
}

button {
   width: 100%;
   background-color: #460000;
   color: #FBFBFB;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
   background-color: #5F1D1D;
}

section.dashboard-content {
   width: 80vw;
   height: 80vh;
   overflow-y: auto;
}

section.dashboard-content__layout {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

div.edit-delete-content {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

div.anchor-edit-design {
   width: 70px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #04AA6D;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

div.anchor-edit-design:hover {
   background-color: #0a8356;
}

div.anchor-delete-design {
   width: 70px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f44336;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

div.anchor-delete-design:hover {
   background-color: #b23830;
}

a.anchor-design {
   text-decoration: none;
   color: #ffffff;
}

table {
   width: 100%;
   border-collapse: collapse;
   background-color: #FBFBFB;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;

}

th,
td {
   padding: 15px;
   border: 1px solid #5F1D1D;
   text-align: left;
}

th {
   background-color: #460000;
   color: #FBFBFB;
}

tr:nth-child(even) {
   background-color: #FBFBFB;
}

tr:nth-child(odd) {
   background-color: #F2F2F2;
}

div.edit-delete-content {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
}